<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.Eat">

	<insert id="insert" parameterType="eat">
		insert into usereat(user_id, food_code) values(#{userId}, #{foodCode})
	</insert>
	
	<update id="updateEatCnt" parameterType="int">
		update food set eat_cnt = eat_cnt + 1 where code = #{foodCode}
	</update>
	
	<select id="searchMyList" resultType="eat" parameterType="string">
		select e.* from usereat e, food f where e.food_code = f.code and e.user_id=#{id}
	</select>
	
	
	
	<select id="searchName" resultType="food" parameterType="map">
		<bind name="pattern" value="'%' + _parameter.get(name) + '%'" />
		select f.* from usereat e, food f where e.user_id = #{id} and e.food_code = f.code and f.name like #{pattern}
	</select>
	
	<select id="selectMaterial" resultType="food" parameterType="map">
	<bind name="pattern" value="'%' + _parameter.get(material) + '%'" />
		select f.* from usereat e, food f where e.user_id = #{id} and e.food_code = f.code and f.material like #{pattern}
	</select>

	<select id="selectMaker" resultType="food" parameterType="map">
	<bind name="pattern" value="'%' + _parameter.get(maker) + '%'" />
		select f.* from usereat e, food f where e.user_id = #{id} and e.food_code = f.code and f.maker like #{pattern}
	</select>

</mapper>